/*
* Common
*/

.zoom {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.show {
    opacity: 1!important;
}

.hide {
    opacity: 0!important;
}

.close-menu {
    display: none;
}

.disable {
    pointer-events: none;
    opacity: 0.9;
}

/*
* Favorite
*/


.favorite-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.favorite-image-wrap {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: #000;
    opacity: 0.3;
}

.favorite__item {
    width: 560px;
    height: 380px;
    background: #583934;
    color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    position: relative;
    overflow: hidden;
}

.favorite__item img {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.favorite__item p {
    z-index: 1;
}

.favorite__item h3 {
    z-index: 1;
    font-size: 40px;
}

.favorite__button {
    position: relative;
    z-index: 2;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 40px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
}


/*
* Blog
*/


.blog {
    background: #F8F5F2;
    text-align: center;
}

.blog-list {
    background: #fff;
}

.blog-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.blog__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    width: 460px;
    height: 550px;
    background: #fff;
    color: #55403B;
    margin: 10px;
}

.blog__item:hover {
    text-decoration: underline;
    box-shadow: 0px 6px 16px 5px #efefef;
}

.blog__item-wrap {
    margin: 20px;
    height: 194px;
    overflow: hidden;
}

.blog__item h3 {
    font-size: 26px;
}

.blog__item span {
    font-size: 14px;
}

.blog__item p {
    font-size: 16px;
}

.blog__item img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.blog__view-more {
    color: #55403B;
    font-size: 26px;
    display: block;
    padding-top: 40px;
    padding-bottom: 60px;
    text-decoration: underline;
}


/*
* Blog inner
*/


.blog-inner-wrap {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.blog-back {
    width: 15%;
}

.blog-back a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: underline;
    color: #55403B;
}

.blog-inner {
    width: 85%;
}

.blog-inner__date {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.blog-inner__title {
    font-family: 'Optimum', sans-serif;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: normal;
}

.blog-inner__image {
    width: 600px;
}

.blog-inner__content h2 {
    text-align: left;
    font-size: 26px;
    padding-top: 0px;
    text-transform: uppercase;
}

.blog-inner__content h3 {
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
}

.blog-inner__content h4 {
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.blog-inner__content .video__wrap {
    position: relative;
    padding-bottom: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 0;
    width: 40%;
}

.blog-inner__content .video__wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
* Page inner
*/


.page-inner__title {
    font-family: 'Optimum', sans-serif;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: normal;
}

.page-inner img {
    width: 600px;
}

.page-inner__content {
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
    font-size: 16px;
}

.page-inner__content h2 {
    text-align: left;
    font-size: 26px;
    padding-top: 0px;
    text-transform: uppercase;
}

.page-inner__content h3 {
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
}

.page-inner__content h4 {
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.page-inner__content .video__wrap {
    position: relative;
    padding-bottom: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 0;
    width: 40%;
}

.page-inner__content .video__wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
* Gallery
*/


.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
}

.gallery__item {
    width: 210px;
    height: 210px;
    margin: 10px;
}

.gallery__item img {
    width: 100%;
    object-fit: cover;
    height: 210px;
}


/*
* About
*/


.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__item {
    margin: 10px;
    width: 40%;
    padding-top: 60px;
    text-align: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-text__line {
    width: 200px;
    height: 3px;
    background: #55403B;
    margin-bottom: 30px;
}

.about h3 {
    font-size: 36px;
}

.about a {
    color: #55403B;
    font-size: 26px;
    display: block;
    padding-top: 40px;
    padding-bottom: 60px;
    text-decoration: underline;
}


/*
* Contact
*/


.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
}

.contact-us__item {
    width: 25%;
}

.contact-us__form {
    display: flex;
    flex-direction: column;
}

.contact-us__form button {
    text-transform: uppercase;
    padding: 7px 25px;
    margin-top: 20px;
    color: #fff;
    height: 50px;
    width: 200px
}

.contact-us__subtitle {
    margin-bottom: 60px;
    font-size: 21px;
    line-height: 34px;
    text-align: center;
}

.contact-us-social {
    display: flex;
    width: 35%;
}

.contact-us-social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #583934;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 20px;
}


/*
* Instagram
*/


.instagram-wrap {
    width: 100%;
    height: 350px;
    background: #F8F5F2;
}


/*
* Catalog Pagination
*/


.catalog-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 80px;
}

.catalog-pagination span {
    text-decoration: underline;
    color: #8A6661;
    margin: 5px;
}

.catalog-pagination a {
    color: #55403B;
    margin: 5px;
}


/*
* Product
*/


.product {
    display: flex;
}

.product-wrap {
    position: relative;
    margin-top: 30px;
}

.product-text-wrap {
    width: 60%;
}

.product-slider-wrap {
    display: flex;
    width: 40%;
}

.product-slider {
    width: 425px;
    height: 560px;
    margin: 0px;
}

.product-slider .swiper-wrapper img {
    width: 425px!important;
    height: 560px;
    overflow: hidden;
    object-fit: cover;
}

.product-slider-thumbs {
    width: 125px;
    height: 560px;
    margin: 0;
}

.product-slider-thumbs .swiper-wrapper {
    flex-direction: column;
    height: 600px;
}

.product-slider-thumbs .swiper-wrapper img {
    width: 75px!important;
    height: 100px!important;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.product-slider .swiper-button-prev.swiper-button-black,
.product-slider .swiper-button-next.swiper-button-black {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.product-slider .swiper-button-next {
    margin-right: 15px;
}

.product-slider .swiper-button-prev {
    margin-left: 15px;
}

.product-slider .swiper-button-prev:after,
.product-slider .swiper-button-next:after {
    font-size: 12px;
    font-weight: bold;
}

.product-slider .swiper-button-next:after {
    margin-left: 3px;
}

.product-slider .swiper-button-prev:after {
    margin-right: 3px;
}

.product__title {
    font-size: 30px;
    font-weight: normal;
    margin-top: 0;
}

.product__description a {
    text-decoration: underline;
    color: #9F7264;
}

.product__select-title {
    color: #55403B;
    font-weight: bold;
    font-size: 14px;
}

.product__select {
    width: 250px;
    padding: 8px;
    border-color: #E0E0E0;
    color: #55403B;
    background: #fff;
    margin-bottom: 30px;
}

.product .catalog__wrap {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
}

.product .catalog-price-wrap{
    display: block;
}

.product .catalog-price-regular{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
}

.go-to-cart-wrap{
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.go-to-cart{
    font-size: 16px;
    color: #55403B;
}

/*
* Reviews
*/


.reviews-wrap {
    width: 100%;
    height: 350px;
    background: #F8F5F2;
}


/*
* Floating Cart
*/


.floating-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #9F7264;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 27px;
    box-shadow: 4px 8px 9px -9px #383838;
    cursor: pointer;
}

.floating-cart__count {
    position: absolute;
    font-size: 12px;
    background: #55403B;
    top: 12px;
    left: 35px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2px;
    font-family: sans-serif;
}


/*
* Back To Top
*/


.back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #EFD0C7;
    color: #fff;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.8;
}


/*
* Footer
*/


.footer {
    background: #291B19;
    color: #9F7264;
}

.footer-wrap-row {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.footer-wrap-col {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.footer a {
    color: #9F7264;
    font-size: 18px;
}

.footer-wrap-col img {
    width: 150px;
}

.footer-menu {
    display: flex;
    width: 70%;
    height: 150px;
    flex-wrap: wrap;
}

.footer-menu__item {
    width: 265px;
    margin: 13px 0;
    text-transform: uppercase;
}

.footer-menu__item:hover {
    text-decoration: underline;
}

.footer-wrap-col {
    justify-content: center;
    align-items: center;
}

.footer-social {
    display: flex;
}

.footer-social .footer-social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #9F7264;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 20px;
}

.footer__copyright {
    font-size: 14px;
}

/*
* Modal
*/


.modal-cover{
    display: none;
    position: fixed;
    background: rgb(88 74 72 / 70%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100; 
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}

.modal{
    width: 550px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 101;
    cursor: default;
}

.modal-product-wrap{
    display: flex;
    justify-content: start;
    align-items: start;
}

.modal-product-wrap__item{
    margin-right: 40px;
}

.modal-product-wrap__item p{
    margin-top: 0px;
}

.modal .product__select{
    margin-bottom: 10px;
}

.modal__title{
    font-size: 26px;
    font-family: 'Optimum', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.modal img{
    width: 90px;
}

.modal-product-btn-wrap{
    margin-top: 40px;
}

.modal .product__button{
    margin-left: 0px;
    margin-right: 20px;  
    border: 2px solid #55403b;
    width: 200px;
}

.modal .product__button-cancel{
    background: #fff;
    border: 2px solid #55403b;
    width: 200px;
    color: #55403b;
}

.modal__header{
    background: #F8F5F2;
    position: relative;
}

.modal .modal__close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
}

.modal__body{
    background: #fff;
    padding: 40px;
}


/*
* WooCommerce
*/


.woocommerce table.shop_table {
    margin: 0;
    border-radius: 0px;
}

.woocommerce table.shop_table thead {
    min-height: 78px;
    background: #F8F5F2;
}

.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
    width: 100% !important;
    float: none !important;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 100% !important;
    float: none !important;
}

.woocommerce table.shop_table {
    margin: 0;
    border: none;
    border-radius: 0px;
}

.woocommerce table.shop_table thead {

}

.woocommerce table.shop_table tbody .product-remove {

}

.woocommerce table.shop_table tbody .product-quantity {

}

.woocommerce table.shop_table tbody .actions {

}

.woocommerce table.shop_table td {
    border: none;
    font-size: 18px;
    padding: 9px 20px;
    padding-left: 20px;
    line-height: 1.5em;
    border-top: 1px solid #f1f1f1;
}

.woocommerce table.shop_table th {
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    line-height: 1.5em;
    text-transform: uppercase;

}

.woocommerce table.shop_table .product-subtotal {
    display: none;
}

.woocommerce table.cart img {
    margin: 0;
    width: 120px;
    height: 120px;
}

.woocommerce table.cart td.actions .input-text {
    width: 255px;
    height: 55px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 55px;

}

.woocommerce .coupon button.button {
    margin: 0 !important;
    height: 55px !important;
    font-size: 16px !important;
    line-height: 55px !important;
    text-decoration: underline !important;
    overflow: hidden !important;
    padding: 0 !important;
    font-weight: 400 !important;
    border-radius: 0 !important;
    left: initial !important;
    border: none !important;
    display: inline-block !important;
    margin-left: 20px !important;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce .actions .button[name="update_cart"],
.woocommerce .actions .button[name="update_cart"]:hover {
    opacity: 1;
    margin: 0;
    height: 55px;
    font-size: 16px;
    line-height: 55px;
    text-decoration: none;
    overflow: hidden;
    padding: 0 20px;
    font-weight: 400;
    border-radius: 0;
    left: initial;
    background-color: transparent;
    text-align: center;
}

.woocommerce .quantity .qty {
    width: 70px;
    height: 45px;
    font-size: 16px;
    padding: 0;
    line-height: 45px;
    appearance: initial;
    -moz-appearance: initial;
    -webkit-appearance: initial;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 50%;
    float: right;
    margin-top: 70px;
}

.cart_totals h2 {
    margin: 0;
    padding: 20px;
}

.cart-subtotal {
    display: none;
}

.woocommerce li::before {
    display: none;
}


.shipping_method:checked::before{
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 100%;
    position: relative;
    top: 2px;
    left: 2px;
}

.shipping_method:checked{

}

.shipping_method{
    border-radius: 100%;
    border: 1px solid #A6A6A6;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.woocommerce table.shop_table tbody th {
    border: none;
    padding: 12px 25px;
    line-height: 1.5em;
}

.woocommerce table.shop_table tbody th {

}

.wc-proceed-to-checkout {
    margin-top: 40px;
}

.woocommerce .wc-proceed-to-checkout .button,
.woocommerce .wc-proceed-to-checkout a.button.alt {
    margin: 0;
    height: 55px;
    font-size: 16px;
    line-height: 55px;
    overflow: hidden;
    padding: 0 20px;
    font-weight: 400;
    border-radius: 0;
    left: initial;
    border: none;
    float: right;
    display: inline-block;
}

.woocommerce-shipping-destination,
.woocommerce-shipping-calculator {
    display: none;
}

.woocommerce a.remove {
    margin: 0 auto;
    color: transparent !important;
}

.woocommerce a.remove,
.woocommerce a.remove:hover {
    color: transparent !important;
    background: url(../images/icons/remove.svg) no-repeat 50% 50% / 14px;
}

.woocommerce-error, .woocommerce-info,
.woocommerce-message {
    padding-left: 0;
    background-color: transparent;
    color: var(--C__GRAY__REGULAR);
    border-top: 3px solid var(--C__TURQ__DARK);
}

.woocommerce-info {
    border-top-color: var(--C__TURQ__DARK);
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    display: none;
}

.woocommerce h3 {
    font-size: 24px;
}

.woocommerce form .form-row label {
    display: block;
    font-size: 18px;
    line-height: 1.2em;
    /*text-transform: uppercase;*/
}

.woocommerce-input-wrapper {
    
}

.woocommerce form .form-row {
    padding: 0;
    margin-bottom: 50px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    padding: 0 10px;
    margin-top: 10px;
    border: 1px solid #D4D4D4;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce form .form-row input.input-text::placeholder,
.woocommerce form .form-row textarea::placeholder {
    font-size: 18px;
}

.woocommerce form .form-row input.input-text {
    height: 50px;
    line-height: 50px;
}

.woocommerce form .form-row textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    line-height: 1.2em;
}

.woocommerce form .form-row .required {

}