@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 1680px) {
    .slider .slider-wrap {
        width: 1300px;
    }
    .slider .swiper-button-prev {
        margin-left: 15px;
    }
    .slider .swiper-button-next {
        margin-right: 15px;
    }
}

@media screen and (max-width: 1600px) {
    .catalog__item {
        width: 308px;
    }
    .blog__item{
        width: 400px;
        height: 500px; 
    }
    .blog__item h3{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .blog__item-wrap{
        height: 220px;
        margin: 10px;
    }
}

@media screen and (max-width: 1536px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner {
        width: 1400px;
    }
    .page-inner, .for-partners{
        width: 900px;
    }
    .catalog__item {
        width: 280px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 380px!important;
        height: 500px;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        height: 500px;
    }
    .product-slider-thumbs .swiper-wrapper img {
        height: 88px!important;
    }
    .product .addtoany_shortcode{
        bottom: 215px;
    }
}

@media screen and (max-width: 1440px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner {
        width: 1300px;
    }
    .page-inner, .for-partners{
        width: 900px;
    }
    .top-menu__item {
        font-size: 16px;
    }
    .footer a {
        font-size: 16px;
    }
    .slider .slider-wrap {
        width: 1250px;
    }
    .slider .swiper-button-prev {
        margin-left: 10px;
    }
    .slider .swiper-button-next {
        margin-right: 10px;
    }
    .catalog__item {
        width: 260px;
    }
    .catalog__item img {
        height: 350px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 350px!important;
        height: 500px;
    }
    .catalog__button{
        right: 30px;
    }
    .contact-us__subtitle{
       font-size: 18px; 
    }
    .gallery__item{
        width: 190px;
        height: 190px;
    }
    .breadcrumbs{
        font-size: 14px;
    }
}

@media screen and (max-width: 1366px) {
    p {
        font-size: 14px;
    }
    h1,
    h2 {
        font-size: 34px;
    }
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner {
        width: 1100px;
    }
    .page-inner, .for-partners{
        width: 900px;
    }
    .slider .slider-wrap {
        width: 1100px;
    }
    .slider .swiper-button-prev {
        margin-left: 30px;
    }
    .slider .swiper-button-next {
        margin-right: 30px;
    }
    .slider__title {
        font-size: 43px;
    }
    .slider__text {
        font-size: 18px;
    }
    .catalog__item {
        width: 210px;
    }
    .catalog__item img {
        height: 300px;
    }
    .catalog__button {
        right: 0px;
        font-size: 14px;
    }
    .top-menu__item {
        font-size: 16px;
    }
    .blog__item {
        width: 345px;
        height: 460px;
    }
    .blog__item p {
        font-size: 14px;
    }
    .blog__item-wrap{
       height: 225px; 
    }
    .about__item {
        width: 50%;
    }
    .about h3 {
        font-size: 40px;
    }
    .blog__item h3 {
        font-size: 22px;
    }
    .favorite__item {
        width: 500px;
        height: 345px;
    }
    .favorite__item h3 {
        font-size: 36px;
    }
    .about a,
    .blog__view-more {
        font-size: 22px;
    }
    .favorite__button {
        padding: 10px 35px;
    }
    .catalog__title {
        font-size: 20px;
        margin: 10px 0;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 280px!important;
        height: 400px;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        height: 400px;
    }
    .catalog__button {
        padding: 5px 25px;
    }
    .footer a {
        font-size: 16px;
    }
    .catalog-menu-wrap {
        font-size: 16px;
    }
    .catalog-menu__item {
        font-size: 16px;
    }
    .gallery-wrap {
        width: 85%;
    }
    .blog-inner__content .video__wrap {
        position: relative;
        padding-bottom: 60%;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 0;
        width: 100%;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item{
        width: 180px;
        height: 180px;
    }
    .sbi_photo_wrap a {
        width: 180px;
        height: 180px;
    }
    .catalog__item .catalog-price-old .catalog__currency, 
    .catalog__item .catalog-price-old .catalog__price {
        font-size: 12px;
    }
    .catalog__item .catalog__currency, .catalog__price {
        color: #55403B;
        font-size: 14px;
    }
    .product .addtoany_shortcode{
        bottom: 305px;
    }
    .our-values p {
        font-size: 14px;
        line-height: 24px;
    }
    .modal .catalog__price{
        font-size: 18px;
    }
}

@media screen and (max-width: 1280px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner{
        width: 1000px;
    }
    .page-inner, .for-partners{
        width: 900px;
    }
    .top-menu__item{
        margin: 35px 15px;
    }
    .slider .swiper-button-prev {
        margin-left: 15px;
    }
    .slider .swiper-button-next {
        margin-left: 15px;
    }
    .favorite__item {
        width: 450px;
        height: 300px;
    }
    .blog__item {
        width: 310px;
        height: 440px;
    }
    .blog__item-wrap {
        height: 210px;
    }
    .about__item img {
        width: 450px;
    }
    .catalog {
        justify-content: start;
    }
    .catalog__item {
        width: 228px;
        margin: 0px 10px 40px 10px;
    }
    .catalog__item img {
        height: 350px;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        display: none;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 370px!important;
        height: 500px;
    }
    .gallery-wrap {
        width: 100%;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 160px;
        height: 160px;
    }
    .sbi_photo_wrap a {
        width: 160px;
        height: 160px;
    }
    .product .addtoany_shortcode{
        left: 0px;
        bottom: 205px;
    }
}

@media screen and (max-width: 1152px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner{
        width: 950px;
    }
    .page-inner {
        width: 800px;
    }
    .slider {
        height: 500px;
    }
    .top-menu__item {
        margin: 35px 10px;
        font-size: 15px;
    }
    .slider .slider-wrap {
        width: 950px;
    }
    .about__item img {
        width: 400px;
    }
    .contact-us__item {
        width: 35%;
    }
    .favorite__item {
        width: 410px;
        height: 280px;
    }
    .blog__item {
        width: 290px;
        height: 450px;
    }
    .blog__item img{
        height: 250px;
    }
    .blog__item h3 {
        font-size: 20px;
    }
    .blog__item-wrap{
        height: 180px; 
        margin: 10px;
    }
    .catalog-menu-wrap {
        font-size: 14px;
    }
    .product-slider-wrap,
    .product-text-wrap {
        width: 43%;
    }
    .catalog__item {
        width: 205px;
    }
    .catalog__item img {
        height: 305px;
    }
    .footer a {
        font-size: 14px;
    }
    .gallery__item {
        width: 200px;
        height: 200px;
    }
    .blog-back {
        width: 20%;
        display: none;
    }
    .blog-inner {
        width: 80%;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 150px;
        height: 150px;
    }
    .sbi_photo_wrap a {
        width: 150px;
        height: 150px;
    }
    .product .addtoany_shortcode{
        bottom: 315px;
    }
    .catalog__button{
        padding: 5px 15px;
    }
    .our-values__item{
        width: 350px;
    }
}

@media screen and (max-width: 1024px) {
    p {
        font-size: 14px;
    }
    .slider .slider-wrap {
        width: 835px;
    }
    .stiky-menu {
        display: none!important;
    }
    .top-menu,
    .header-social,
    .header-lang {
        display: none;
    }
    .header-wrap {
        justify-content: center;
    }
    .favorite__item h3 {
        font-size: 32px;
    }
    .favorite__item {
        width: 360px;
        height: 250px;
    }
    .blog__item {
        width: 295px;
        height: 440px;
    }
    .mobile-menu {
        display: flex;
        position: absolute;
        top: 45px;
        left: 45px;
        cursor: pointer;
        z-index: 100;
    }
    .top-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        z-index: 11;
        justify-content: start;
        padding-top: 10%;
    }
    .top-menu__item {
        margin: 12px;
        font-size: 18px;
    }
    .header-social {
        z-index: 20;
        position: fixed;
        bottom: 7%;
        width: 100%;
        justify-content: center;
    }
    .header-lang {
        z-index: 20;
        position: fixed;
        bottom: 3%;
        width: 100%;
        justify-content: center;
    }
    .close-menu {
        position: fixed;
    }
    .catalog__item {
        width: 203px;
        margin: 0px 10px 40px 10px;
    }
    .catalog__item img {
        height: 300px;
    }
    .catalog-pagination {
        padding-top: 40px;
    }
    .blog-back {
        display: none;
    }
    .blog-inner {
        width: 100%;
    }
    .blog__item-wrap {
        height: 185px;
    }
    .catalog__tags span{
        font-size: 11px
    }
    .catalog__title{
        font-size: 18px; 
    }
}

@media screen and (max-width: 854px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner {
        width: 680px;
    }
    .page-inner, .for-partners {
        width: 580px;
    }
    .slider .slider-wrap {
        width: 680px;
    }
    .about {
        flex-direction: column;
    }
    .about__item {
        width: 100%;
    }
    .about__item h3 {
        margin-top: 0px;
    }
    .contact-us__item {
        width: 50%;
    }
    .product {
        flex-direction: column;
    }
    .product-slider-wrap,
    .product-text-wrap {
        width: 100%;
    }
    .catalog-description p {
        width: 100%;
        text-align: center;
    }
    .catalog-back {
        padding-left: 0px;
        text-align: center;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        display: block;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 450px!important;
        height: 630px;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        display: none;
    }
    .product-wrap {
        margin-top: 40px;
    }
    .catalog__item {
        width: 319px;
    }
    .catalog__item img {
        height: 430px;
    }
    .blog__item {
        width: 200px;
    }
    .blog__item img{
        height: 200px;
    }
    .blog__item-wrap{
        margin: 10px;
        height: 205px;
    }
    .favorite__item {
        width: 285px;
        height: 205px;
    }
    .favorite__item p {
        font-size: 14px;
    }
    .favorite__item h3 {
        font-size: 28px;
    }
    .gallery__item {
        width: 150px;
        height: 150px;
    }
    .gallery__item img{
        height: 150px;   
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 200px;
        height: 200px;
        margin-bottom: 20px!important;
    }
    .sbi_photo_wrap a {
        width: 200px;
        height: 200px;
    }
    .for-partners-slider, 
    .for-partners-slider .swiper-slide{
        width: 600px!important;
    }
    .partners-form-wrap{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .partners-contact-form input[type="text"]{
        width: 94%;
    }
    .sp-form-field-chk-label{
        margin:0px;
    }
    .our-values__item {
        width: 265px;
        margin-right: 25px;
        margin-bottom: 20px;
    }
    .product .addtoany_shortcode {
        bottom: -45px;
    }
    .top-menu{
        padding-top: 10%; 
    }
}

@media screen and (max-width: 667px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner{
        width: 580px;
    }
    .page-inner, .for-partners{
        width: 580px;
    }
    .breadcrumbs {
        padding-bottom: 0px;
    }
    .slider .slider-wrap {
        width: 500px;
    }
    .contact-us-wrap {
        flex-direction: column;
    }
    .contact-us__item {
        width: 100%;
    }
    .contact-us__item {
        margin-bottom: 30px;
    }
    .favorite__item {
        width: 500px;
        height: 320px;
    }
    .swiper-button-prev.swiper-button-black,
    .swiper-button-next.swiper-button-black {
        width: 30px;
        height: 30px;
    }
    .slider .swiper-button-prev:after,
    .slider .swiper-button-next:after {
        font-size: 16px;
    }
    .favorite__item h3 {
        font-size: 36px;
    }
    .favorite__item p {
        font-size: 16px;
    }
    .favorite__button {
        opacity: 1;
    }
    .blog__item {
        width: 580px;
        height: 550px;
    }
    .catalog__item {
        width: 265px;
    }
    .catalog__item img {
        height: 415px;
    }
    .gallery__item {
        width: 120px;
        height: 120px;
        margin: 5px;
    }
    .gallery__item img{
        height: 120px;   
    }
    .blog__item img{
        height: 350px;
    }
    .blog__item-wrap {
        margin: 20px;
        height: 163px;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 270px;
        height: 270px;
        margin-bottom: 20px!important;
    }
    .sbi_photo_wrap a {
        width: 270px;
        height: 270px;
    }
    .for-partners-slider, .for-partners-slider .swiper-slide {
        width: 580px!important;
    }
    .for-partners-slider .swiper-slide{
        height: 370px;
    }
    .for-partners-slider .swiper-button-next{
        top: 41%;
    }
    .for-partners-slider .swiper-button-prev{
        top: 41%;
    }
    .swiper-pagination-fraction, 
    .swiper-pagination-custom, 
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 45px;
    }
    .our-values__item {
        width: 235px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .top-menu {
        padding-top: 12%;
    }
    .woocommerce a.remove{
        text-align: left;
        margin: 0px;
    }

    .woocommerce table.shop_table tbody .product-remove {
        border-right: 1px solid #f1f1f1;
    }     

    .woocommerce table.shop_table td{
        border-left: 1px solid #f1f1f1;
        border-right: 1px solid #f1f1f1;
    }
}

@media screen and (max-width: 600px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner,
    .page-inner {
        width: 530px;
    }
    .for-partners{
        width: 530px;
    }
    .modal{
        width: 450px;
    }
    .header-logo {
        width: 180px;
    }
    .slider .swiper-button-prev,
    .slider .swiper-button-next {
        top: 51%;
        display: none;
    }
    .slider .swiper-pagination-bullets {
        position: absolute;
        top: 45%;
    }
    .slider img {
        height: 50%;
    }
    .slider .slider-wrap-bg {
        height: 50%;
    }
    .slider .slider-wrap {
        height: 50%;
        position: absolute;
        bottom: 0px;
        align-items: center;
        background: #55403B;
        width: 100%;
    }
    .slider .slider__item {
        align-items: start;
    }
    .slider__title {
        font-size: 36px;
        margin: 0px;
    }
    .slider__text {
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px;
    }
    .slider__button {
        padding: 10px 26px;
    }
    .product-slider-thumbs {
        width: 100px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 398px!important;
    }
    .favorite__item {
        width: 450px;
        height: 300px;
    }
    .blog__item {
        width: 530px;
        height: 570px;
    }
    .catalog__item {
        width: 245px;
    }
    .catalog__item img {
        height: 340px;
    }
    .footer a {
        font-size: 16px;
    }
    .footer-wrap-row {
        flex-direction: column;
    }
    .footer-menu {
        height: 100%;
        margin-bottom: 30px;
    }
    .blog__item h3{
        font-size: 22px;
    }
    .blog-inner__image {
        width: 400px;
    }
    .gallery__item {
        width: 220px;
        height: 220px;
    }
    .gallery__item img{
        height: 220px;   
    }
    .sbi_photo_wrap a {
        width: 260px;
        height: 260px;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 260px;
        height: 260px;
        margin-bottom: 0px!important;
        padding: 10px!important;
    }
    .for-partners-slider, .for-partners-slider .swiper-slide {
        width: 530px!important;
    }
    .for-partners-slider{
        height: 380px;
    }
    .for-partners-slider .swiper-slide{
        height: 300px;
    }
    .for-partners-text h1,
    .our-values h2{
        margin-bottom: 20px;
    }
    .for-partners-slider-wrap{
        margin-bottom: 0px;
    }
    .for-partners-contact-form .addtoany_shortcode{
        margin-top: 20px;
    }
    .for-partners-slider .swiper-button-next{
        top: 43%;
    }
    .for-partners-slider .swiper-button-prev{
        top: 43%;
    }
    .swiper-pagination-fraction, 
    .swiper-pagination-custom, 
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 20px;
    }
    .our-mission{
        padding: 20px 25px;
        margin: 40px 0;
    }
    .our-values__item{
        width: 100%;
    }
    .page-inner img{
        margin-bottom: 10px;
    }
    .modal .product__button-cancel,
    .modal .product__button{
        width: 160px;
        margin-right: 20px!important;
    }
    .sp-form-field-chk-label{
        font-size: 14px;
    }
    .partners-contact-form button{
        width: 102%;
    }
    .modal .modal__body .product__button, 
    .modal .modal__body .product__button:hover,
    .modal .modal__body .product__button-cancel, 
    .modal .modal__body .product__button-cancel:hover{
        width: 145px;
    }
    .top-menu {
        padding-top: 14%;
    }
}

@media screen and (max-width: 480px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner,
    .page-inner {
        width: 430px;
    }
    .for-partners{
        width: 430px;
    }
    .modal{
        width: 380px;
    }
    h1,
    h2,
    .blog-inner__title,
    .page-inner__title,
    .our-values h2,
    .for-partners-text h1 {
        font-size: 32px;
    }
    .about h3 {
        font-size: 36px;
    }
    .catalog-title {
        font-size: 32px;
    }
    .contact-us__subtitle {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .contact-us__item{
        margin-bottom: 15px;
    }
    p {
        font-size: 14px;
    }
    .favorite__item p {
        font-size: 14px;
    }
    .header-logo {
        width: 150px;
    }
    .mobile-menu {
        top: 36px;
        left: 36px;
    }
    .favorite__item {
        width: 360px;
        height: 300px;
    }
    .blog__item {
        width: 435px;
        height: 490px;
    }
    .blog__item-wrap{
        height: 180px;
    }
    .product-slider-thumbs {
        display: none;
    }
    .show-menu {
        width: 25px;
        height: 25px;
    }
    .close-menu {
        width: 25px;
        height: 25px;
    }
    .slider__text {
        line-height: 25px;
        margin: 18px 22px;
        font-size: 14px;
    }
    .catalog__item {
        width: 194px;
    }
    .catalog__item img {
        height: 265px;
    }
    .catalog .catalog__tags span {
        font-size: 10px;
    }
    .gallery__item {
        width: 190px;
        height: 190px;
    }
    .gallery__item img{
        height: 190px;   
    }
    .sbi_photo_wrap a {
        width: 210px;
        height: 210px;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 210px;
        height: 210px;
        margin-bottom: 0px!important;
        padding: 10px;
    }
    .breadcrumbs{
        margin-left: 30px;
    }
    .for-partners-slider, .for-partners-slider .swiper-slide {
        width: 430px!important;
    }
    .for-partners-slider{
        height: 355px;
    }
    .for-partners-slider .swiper-slide{
        height: 270px;
    }
    .partners-contact-form input[type="text"] {
        width: 90%;
    }
    .partners-contact-form button {
        width: 100%;
    }
    .catalog__item .catalog__button{
        padding: 1px 10px;
        font-size: 12px;
    }
    .modal .modal__body .product__button, 
    .modal .modal__body .product__button:hover,
    .modal .modal__body .product__button-cancel, 
    .modal .modal__body .product__button-cancel:hover{
        width: 130px;
        font-size: 13px;
        min-width: 130px;
    }
    .modal__title{
        font-size: 21px;
    }
    .about .about-text{
        padding-top: 30px;
    }
    .about .about-text a{
        padding-bottom: 0px;
    }
    .instagram h2{
        padding-top: 30px;
    }
    .review-form-wrap input, .review-form-wrap textarea{
        width: 90%;
    }
    .reviews h2{
        padding-top: 70px;
    }
    .top-menu {
        padding-top: 20%;
    }
    .footer__copyright{
        text-align: center;
    }
    .instagram-wrap{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 414px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner,
    .page-inner {
        width: 380px;
    }
    .for-partners{
        width: 350px;
    }
    h1,
    h2,
    .blog-inner__title,
    .page-inner__title,
    .our-values h2,
    .for-partners-text h1 {
        font-size: 30px;
    }
    .about h3 {
        font-size: 34px;
    }
    .catalog-title {
        font-size: 30px;
    }
    .favorite__item h3 {
        font-size: 32px;
        margin: 3px;
    }
    .favorite__item {
        width: 350px;
        height: 280px;
    }
    .blog__item {
        width: 370px;
        height: 470px;
    }
    .about__item img {
        width: 320px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 349px!important;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        height: 530px;
    }
    .catalog__item {
        width: 169px;
    }
    .catalog__item img {
        height: 230px;
    }
    .catalog__tags span {
        padding: 3px 5px;
    }
    .catalog__title {
        font-size: 16px;
        line-height: 22px;
    }
    .catalog__button {
        padding: 3px 15px;
    }
    .catalog__currency,
    .catalog__price {
        font-size: 16px;
    }
    .catalog-menu__item {
        font-size: 14px;
        margin: 5px;
    }
    .blog-inner__image {
        width: 320px;
    }
    .gallery__item {
        width: 150px;
        height: 150px;
    }
    .gallery__item img{
        height: 150px;   
    }
    .sbi_photo_wrap a {
        width: 185px;
        height: 185px;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 185px;
        height: 185px;
        margin-bottom: 0px!important;
        padding: 5px;
    }
    .blog__item-wrap{
        height: 195px;
    }
    .catalog__item .catalog-price-wrap{
        margin-right: 5px;
    }
    .catalog__item .catalog__button {
        padding: 0px 5px;
    }
    .for-partners-slider, .for-partners-slider .swiper-slide {
        width: 350px!important;
    }
    .for-partners-slider{
        height: 320px;
    }
    .for-partners-slider .swiper-slide{
        height: 240px;
    }
    .sp-form-field-checkbox{
        margin-bottom: 0;
    }
    .vision .line{
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner,
    .page-inner {
        width: 330px;
    }
    .for-partners{
        width: 330px;
    }
    .modal{
        width: 330px;
    }
    h1,
    h2,
    .blog-inner__title,
    .page-inner__title,
    .our-values h2,
    .for-partners-text h1{
        font-size: 28px;
        margin: 25px;
        padding-top: 40px;
    }
    .blog-inner__title {
        margin: 0px;
        font-size: 28px;
        padding-bottom: 35px;
    }
    .blog-inner__content h2 {
        margin: 0px;
    }
    p {
        line-height: 24px;
    }
    .slider__title {
        font-size: 34px;
        margin: 0px;
        padding-top: 10px;
    }
    .mobile-menu {
        top: 30px;
        left: 30px;
    }
    .header-logo {
        width: 130px;
    }
    .slider {
        height: 450px;
    }
    .favorite__item {
        width: 300px;
        height: 250px;
    }
    .blog__item {
        width: 335px;
        height: 430px;
    }
    .about__item img {
        width: 300px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 300px!important;
        height: 470px;
    }
    .catalog__item {
        width: 145px;
    }
    .catalog__item img {
        height: 200px;
    }
    .catalog__title {
        font-size: 15px;
        line-height: 25px;
    }
    .catalog__button {
        padding: 2px 8px;
    }
    .breadcrumbs {
        font-size: 14px;
    }
    .product__title {
        margin-left: 0px;
        padding-top: 0;
    }
    .product-wrap {
        margin-top: 30px;
    }
    .favorite__button {
        padding: 6px 25px;
    }
    .catalog-description h2 {
        padding-top: 10px;
    }
    .product-wrap .catalog__tags {
        display: flex;
    }
    .blog-inner__image {
        width: 300px;
    }
    .sbi_photo_wrap a {
        width: 160px;
        height: 160px;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 160px;
        height: 160px;
        margin-bottom: 0px!important;
    }
    .for-partners-slider, .for-partners-slider .swiper-slide {
        width: 330px!important;
    }
    .for-partners-slider .swiper-slide{
        height: 210px;
    }
    .for-partners-slider{
        height: 290px;
    }
    .partners-contact-form input[type="text"] {
        width: 85%;
        height: 10px;
        margin: 8px 0;
    }
    .partners-contact-form button{
        height: 40px;
    }
    .for-partners-slider .swiper-button-next{
        top: 40%;
    }
    .for-partners-slider .swiper-button-prev {
        top: 40%;
    }
    .our-mission h2,
    .vision h2{
        font-size: 20px;
        margin: 0px;
    }
    .our-mission{
        text-align: center;
    }
    .vision {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        text-align: center;
    }
    .catalog__item .catalog__button{
        padding: 5px 5px 3px 5px;
        position: relative;
        width: 67px;
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
    }
    .catalog__tags{
        display: none;
    }
    .catalog-description h2, 
    .cart-collaterals 
    .catalog-description h2{
        font-size: 28px;
        text-align: center;
    }
    .catalog__tags span {
        padding: 5px 8px;
    }
    .product__title{
        font-size: 24px;
    }
    .modal .product__select-title{
        font-size: 13px;
    }
    .modal .product__select{
        width: 200px;
        font-size: 14px;
    }
    .modal img {
        width: 90px;
        max-width: none;
    }
    .modal-product-wrap__item{
        margin-right: 10px;
    }
    .modal .modal__body .product__button, 
    .modal .modal__body .product__button:hover, 
    .modal .modal__body .product__button-cancel, 
    .modal .modal__body .product__button-cancel:hover {
        width: 115px;
        font-size: 12px;
        min-width: unset;
        height: 40px;
        padding: 3px 10px;
        line-height: 35px;
        margin-right: 10px!important;
    }
    .modal .catalog-price-old .catalog__currency, 
    .modal .catalog-price-old .catalog__price{
        font-size: 12px;
    }
    .gallery__item {
        width: 130px;
        height: 130px;
    }
    .gallery__item img{
        height: 130px;   
    }
    .review-form-wrap input, 
    .review-form-wrap textarea{
        width: 86%;
    }
    .catalog-title{
        padding-top: 0px;
    }    
    .go-to-cart-wrap{
        margin-left: 115px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 320px) {
    .container,
    .woocommerce-cart .page-inner,
    .woocommerce-checkout .page-inner,
    .page-inner {
        width: 280px;
    }
    .for-partners{
        width: 280px;
    }
    .modal{
        width: 280px;
    }
    .about__item img {
        width: 280px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 280px!important;
        height: 450px;
    }
    .catalog__item {
        width: 120px;
    }
    .catalog__button {
        font-size: 12px;
    }
    .favorite__button {
        display: none;
    }
    .slider__text {
        font-size: 12px;
    }
    .blog__item {
        width: 280px;
    }
    .blog-inner__image {
        width: 280px;
    }
    .for-partners-slider, .for-partners-slider .swiper-slide {
        width: 280px!important;
    }
    .for-partners-slider .swiper-slide{
        height: 180px;
    }
    .for-partners-slider{
        height: 260px;
    }
    .modal .modal__body .product__button, 
    .modal .modal__body .product__button:hover, 
    .modal .modal__body .product__button-cancel, 
    .modal .modal__body .product__button-cancel:hover {
        width: 90px;
        font-size: 10px;
        min-width: unset;
        height: 40px;
        padding: 3px;
        line-height: 32px;
    }
    .review-form-wrap input, .review-form-wrap textarea{
        width: 83%;
    }
    .sbi_photo_wrap a {
        width: 135px;
        height: 135px;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 135px;
        height: 135px;
        margin-bottom: 0px!important;
        padding: 5px!important;
    }
}