@media screen and (max-width: 1680px) {
    .slider .slider-wrap {
        width: 1300px;
    }
    .slider .swiper-button-prev {
        margin-left: 15px;
    }
    .slider .swiper-button-next {
        margin-right: 15px;
    }
}

@media screen and (max-width: 1600px) {
    .catalog__item {
        width: 308px;
    }
}

@media screen and (max-width: 1536px) {
    .container {
        width: 1400px;
    }
    .catalog__item {
        width: 280px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 380px!important;
        height: 500px;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        height: 500px;
    }
    .product-slider-thumbs .swiper-wrapper img {
        height: 88px!important;
    }
    .product .addtoany_shortcode{
        bottom: 190px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 1300px;
    }
    .slider .slider-wrap {
        width: 1250px;
    }
    .slider .swiper-button-prev {
        margin-left: 10px;
    }
    .slider .swiper-button-next {
        margin-right: 10px;
    }
    .catalog__item {
        width: 260px;
    }
    .catalog__item img {
        height: 350px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 350px!important;
        height: 500px;
    }
}

@media screen and (max-width: 1366px) {
    p {
        font-size: 14px;
    }
    h1,
    h2 {
        font-size: 35px;
    }
    .container {
        width: 1100px;
    }
    .slider .slider-wrap {
        width: 1100px;
    }
    .slider .swiper-button-prev {
        margin-left: 30px;
    }
    .slider .swiper-button-next {
        margin-right: 30px;
    }
    .slider__title {
        font-size: 43px;
    }
    .slider__text {
        font-size: 18px;
    }
    .catalog__item {
        width: 210px;
    }
    .catalog__item img {
        height: 300px;
    }
    .catalog__button {
        right: 0px;
        font-size: 14px;
    }
    .top-menu__item {
        font-size: 16px;
    }
    .blog__item {
        width: 400px;
        height: 520px;
    }
    .blog__item p {
        font-size: 14px;
    }
    .about__item {
        width: 50%;
    }
    .about h3 {
        font-size: 40px;
    }
    .blog__item h3 {
        font-size: 22px;
    }
    .favorite__item {
        width: 500px;
        height: 345px;
    }
    .favorite__item h3 {
        font-size: 36px;
    }
    .contact-us__subtitle {
        font-size: 20px;
    }
    .about a,
    .blog__view-more {
        font-size: 22px;
    }
    .favorite__button {
        padding: 10px 35px;
    }
    .catalog__title {
        font-size: 20px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 280px!important;
        height: 400px;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        height: 400px;
    }
    .catalog__button {
        padding: 5px 25px;
    }
    .footer a {
        font-size: 16px;
    }
    .catalog-menu-wrap {
        font-size: 16px;
    }
    .catalog-menu__item {
        font-size: 16px;
    }
    .gallery-wrap {
        width: 85%;
    }
    .blog-inner__content .video__wrap {
        position: relative;
        padding-bottom: 60%;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 0;
        width: 100%;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item{
        width: 180px;
        height: 180px;
    }
    .sbi_photo_wrap a {
        width: 180px;
        height: 180px;
    }
    .catalog-price-old .catalog__currency, 
    .catalog-price-old .catalog__price {
        font-size: 12px;
    }
    .catalog__currency, .catalog__price {
        color: #55403B;
        font-size: 14px;
    }
    .product .addtoany_shortcode{
        bottom: 285px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .slider .swiper-button-prev {
        margin-left: 15px;
    }
    .slider .swiper-button-next {
        margin-left: 15px;
    }
    .favorite__item {
        width: 450px;
        height: 300px;
    }
    .blog__item {
        width: 360px;
        height: 490px;
    }
    .about__item img {
        width: 450px;
    }
    .catalog {
        justify-content: start;
    }
    .catalog__item {
        width: 228px;
        margin: 0px 10px 40px 10px;
    }
    .catalog__item img {
        height: 350px;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        display: none;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 370px!important;
        height: 500px;
    }
    .gallery-wrap {
        width: 100%;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 160px;
        height: 160px;
    }
    .sbi_photo_wrap a {
        width: 160px;
        height: 160px;
    }
    .product .addtoany_shortcode{
        left: 0px;
        bottom: 190px;
    }
}

@media screen and (max-width: 1152px) {
    .container {
        width: 900px;
    }
    .slider {
        height: 500px;
    }
    .top-menu__item {
        margin: 35px 15px;
    }
    .slider .slider-wrap {
        width: 950px;
    }
    .about__item img {
        width: 400px;
    }
    .contact-us__item {
        width: 35%;
    }
    .favorite__item {
        width: 410px;
        height: 280px;
    }
    .blog__item {
        width: 310px;
        height: 450px;
    }
    .blog__item h3 {
        font-size: 20px;
    }
    .blog__item-wrap{
        height: 180px; 
    }
    .catalog-menu-wrap {
        font-size: 14px;
    }
    .product-slider-wrap,
    .product-text-wrap {
        width: 50%;
    }
    .catalog__item {
        width: 205px;
    }
    .catalog__item img {
        height: 305px;
    }
    .footer a {
        font-size: 14px;
    }
    .gallery__item {
        width: 200px;
        height: 200px;
    }
    .blog-back {
        width: 20%;
    }
    .blog-inner {
        width: 80%;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 140px;
        height: 140px;
    }
    .sbi_photo_wrap a {
        width: 140px;
        height: 140px;
    }
    .product .addtoany_shortcode{
        bottom: 245px;
    }
}

@media screen and (max-width: 1024px) {
    p {
        font-size: 14px;
    }
    .slider .slider-wrap {
        width: 835px;
    }
    .stiky-menu {
        display: none!important;
    }
    .top-menu,
    .header-social,
    .header-lang {
        display: none;
    }
    .header-wrap {
        justify-content: center;
    }
    .favorite__item h3 {
        font-size: 32px;
    }
    .favorite__item {
        width: 360px;
        height: 250px;
    }
    .blog__item {
        width: 295px;
        height: 440px;
    }
    .mobile-menu {
        display: flex;
        position: absolute;
        top: 45px;
        left: 45px;
        cursor: pointer;
        z-index: 100;
    }
    .top-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: flex-end;
        opacity: 1;
        z-index: 11;
    }
    .top-menu__item {
        margin: 14px;
        font-size: 18px;
        padding-right: 20px;
    }
    .header-social {
        z-index: 20;
        position: fixed;
        bottom: 15%;
        width: 100%;
        justify-content: center;
    }
    .header-lang {
        z-index: 20;
        position: fixed;
        bottom: 10%;
        width: 100%;
        justify-content: center;
    }
    .close-menu {
        position: fixed;
    }
    .catalog__item {
        width: 203px;
        margin: 0px 10px 40px 10px;
    }
    .catalog__item img {
        height: 300px;
    }
    .catalog-pagination {
        padding-top: 40px;
    }
    .blog-back {
        display: none;
    }
    .blog-inner {
        width: 100%;
    }
    .catalog__tags span{
        font-size: 11px
    }
}

@media screen and (max-width: 854px) {
    .container {
        width: 680px;
    }
    .slider .slider-wrap {
        width: 680px;
    }
    .about {
        flex-direction: column;
    }
    .about__item {
        width: 100%;
    }
    .about__item h3 {
        margin-top: 0px;
    }
    .contact-us__item {
        width: 50%;
    }
    .product {
        flex-direction: column;
    }
    .product-slider-wrap,
    .product-text-wrap {
        width: 100%;
    }
    .catalog-description p {
        width: 100%;
        text-align: center;
    }
    .catalog-back {
        padding-left: 0px;
        text-align: center;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        display: block;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 450px!important;
        height: 630px;
    }
    .product-slider-thumbs .swiper-wrapper,
    .product-slider-thumbs {
        height: 630px;
    }
    .product-wrap {
        margin-top: 40px;
    }
    .catalog__item {
        width: 319px;
    }
    .catalog__item img {
        height: 430px;
    }
    .blog__item {
        width: 200px;
    }
    .blog__item img{
        height: 200px;
    }
    .blog__item-wrap{
        margin: 10px;
        height: 205px;
    }
    .favorite__item {
        width: 285px;
        height: 205px;
    }
    .favorite__item p {
        font-size: 14px;
    }
    .favorite__item h3 {
        font-size: 28px;
    }
    .gallery__item {
        width: 150px;
        height: 150px;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 200px;
        height: 200px;
        margin-bottom: 20px!important;
    }
    .sbi_photo_wrap a {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 667px) {
    .container {
        width: 600px;
    }
    .breadcrumbs {
        padding-bottom: 0px;
    }
    .slider .slider-wrap {
        width: 500px;
    }
    .contact-us-wrap {
        flex-direction: column;
    }
    .contact-us__item {
        width: 100%;
    }
    .contact-us__item {
        margin-bottom: 30px;
    }
    .favorite__item {
        width: 500px;
        height: 320px;
    }
    .swiper-button-prev.swiper-button-black,
    .swiper-button-next.swiper-button-black {
        width: 30px;
        height: 30px;
    }
    .slider .swiper-button-prev:after,
    .slider .swiper-button-next:after {
        font-size: 16px;
    }
    .favorite__item h3 {
        font-size: 36px;
    }
    .favorite__item p {
        font-size: 16px;
    }
    .favorite__button {
        opacity: 1;
    }
    .blog__item {
        width: 460px;
        height: 550px;
    }
    .catalog__item {
        width: 279px;
    }
    .catalog__item img {
        height: 415px;
    }
    .gallery__item {
        width: 120px;
        height: 120px;
        margin: 5px;
    }
    .blog__item img{
        height: 350px;
    }
    .blog__item-wrap {
        margin: 20px;
        height: 165px;
    }
    #sb_instagram.sbi_col_1 #sbi_images .sbi_item {
        width: 270px;
        height: 270px;
        margin-bottom: 20px!important;
    }
    .sbi_photo_wrap a {
        width: 270px;
        height: 270px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 500px;
    }
    .header-logo {
        width: 180px;
    }
    .slider .swiper-button-prev,
    .slider .swiper-button-next {
        top: 51%;
    }
    .slider .swiper-pagination-bullets {
        position: absolute;
        top: 45%;
    }
    .slider img {
        height: 50%;
    }
    .slider .slider-wrap-bg {
        height: 50%;
    }
    .slider .slider-wrap {
        height: 50%;
        position: absolute;
        bottom: 0px;
        align-items: center;
        background: #55403B;
        width: 100%;
    }
    .slider .slider__item {
        align-items: start;
    }
    .slider__title {
        font-size: 36px;
        margin: 0px;
    }
    .slider__text {
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px;
    }
    .slider__button {
        padding: 10px 26px;
    }
    .product-slider-thumbs {
        width: 100px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 398px!important;
    }
    .favorite__item {
        width: 450px;
        height: 300px;
    }
    .blog__item {
        width: 530px;
        height: 570px;
    }
    .catalog__item {
        width: 229px;
    }
    .catalog__item img {
        height: 340px;
    }
    .footer a {
        font-size: 16px;
    }
    .footer-wrap-row {
        flex-direction: column;
    }
    .footer-menu {
        height: 100%;
        margin-bottom: 30px;
    }
    .blog-inner__image {
        width: 400px;
    }
    .gallery__item {
        width: 220px;
        height: 220px;
    }
}

@media screen and (max-width: 480px) {
    h1,
    h2 {
        font-size: 32px;
    }
    .about h3 {
        font-size: 36px;
    }
    .catalog-title {
        font-size: 32px;
    }
    .contact-us__subtitle {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    .favorite__item p {
        font-size: 14px;
    }
    .container {
        width: 400px;
    }
    .header-logo {
        width: 150px;
    }
    .mobile-menu {
        top: 36px;
        left: 36px;
    }
    .favorite__item {
        width: 380px;
        height: 300px;
    }
    .blog__item {
        width: 420px;
        height: 490px;
    }
    .product-slider-thumbs {
        display: none;
    }
    .show-menu {
        width: 25px;
        height: 25px;
    }
    .close-menu {
        width: 25px;
        height: 25px;
    }
    .slider__text {
        line-height: 25px;
        margin: 18px 22px;
        font-size: 14px;
    }
    .catalog__item {
        width: 178px;
    }
    .catalog__item img {
        height: 265px;
    }
    .catalog .catalog__tags span {
        font-size: 10px;
    }
    .gallery__item {
        width: 190px;
        height: 190px;
    }
}

@media screen and (max-width: 414px) {
    h1,
    h2,
    .blog-inner__title {
        font-size: 30px;
    }
    .about h3 {
        font-size: 34px;
    }
    .catalog-title {
        font-size: 30px;
    }
    .favorite__item h3 {
        font-size: 32px;
        margin: 3px;
    }
    .container {
        width: 350px;
    }
    .favorite__item {
        width: 350px;
        height: 280px;
    }
    .blog__item {
        width: 350px;
        height: 470px;
    }
    .about__item img {
        width: 320px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 349px!important;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        height: 530px;
    }
    .catalog__item {
        width: 154px;
    }
    .catalog__item img {
        height: 230px;
    }
    .catalog__tags span {
        padding: 3px 5px;
    }
    .catalog__title {
        font-size: 18px;
    }
    .catalog__button {
        padding: 3px 15px;
    }
    .catalog__currency,
    .catalog__price {
        font-size: 16px;
    }
    .catalog-menu__item {
        font-size: 14px;
        margin: 5px;
    }
    .blog-inner__image {
        width: 320px;
    }
    .gallery__item {
        width: 285px;
        height: 285px;
    }
}

@media screen and (max-width: 375px) {
    h1,
    h2 {
        font-size: 28px;
        margin: 25px;
        padding-top: 40px;
    }
    .blog-inner__title {
        margin: 0px;
        font-size: 28px;
        padding-bottom: 35px;
    }
    .blog-inner__content h2 {
        margin: 0px;
    }
    p {
        line-height: 24px;
    }
    .slider__title {
        font-size: 34px;
        margin: 0px;
        padding-top: 10px;
    }
    .mobile-menu {
        top: 30px;
        left: 30px;
    }
    .container {
        width: 300px;
    }
    .header-logo {
        width: 130px;
    }
    .slider {
        height: 450px;
    }
    .favorite__item {
        width: 300px;
        height: 250px;
    }
    .blog__item {
        width: 300px;
        height: 430px;
    }
    .about__item img {
        width: 300px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 300px!important;
        height: 470px;
    }
    .catalog__item {
        width: 128px;
    }
    .catalog__item img {
        height: 200px;
    }
    .catalog__tags {
        display: none;
    }
    .catalog__title {
        font-size: 15px;
        line-height: 25px;
    }
    .catalog__button {
        padding: 2px 8px;
    }
    .breadcrumbs {
        font-size: 14px;
    }
    .product__title {
        margin-left: 0px;
        padding-top: 0;
    }
    .product-wrap {
        margin-top: 30px;
    }
    .favorite__button {
        padding: 6px 25px;
    }
    .catalog-description h2 {
        padding-top: 10px;
    }
    .product-wrap .catalog__tags {
        display: flex;
    }
    .blog-inner__image {
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        width: 280px;
    }
    .about__item img {
        width: 280px;
    }
    .product-slider,
    .product-slider .swiper-wrapper img {
        width: 280px!important;
        height: 450px;
    }
    .catalog__item {
        width: 120px;
    }
    .catalog__button {
        font-size: 12px;
    }
    .favorite__button {
        display: none;
    }
    .slider__text {
        font-size: 12px;
    }
    .blog__item {
        width: 280px;
    }
    .blog-inner__image {
        width: 280px;
    }
}